<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome To Hana</h1>
      <p>Here you can build and complete tasks for group projects</p>
      <hr>
      <img src="https://media.npr.org/assets/img/2020/03/13/gettyimages-667018224_wide-e69134a24ff79fd3a338ff83661815c6299e58bd-s1600-c85.jpg" alt="Girl in a jacket" width="430" height="278">
    </div>
    <div class="col-sm-2 sidenav">
      
        
      
    </div>
  </div>
</div>