<div class="container-login text-center">
    <div class='container center_div'>
        <div class="row content">
            <div class='row'>
                <div class='col-md-20'>
                    <%= render 'form' %>
                    <%= button_to "Delete Project", {:controller => :projects, :action => 'destroy', :id => @project.id}, :method => :delete %>
                </div>
            </div>
        </div>
    </div>
</div>