<div class="container-login text-center">
    <div class='container center_div'>
        <div class="row content">
            <div class='row'>
                <div class='col-md-20'>
                    <%= render 'form' %>
                    <%= button_to "Delete Image", { action: "delete", id: @project.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
            </div>
        </div>
    </div>
</div>