<h1>Projects</h1>
<br>
<%= link_to 'Create a task', new_project_task_path(@project), class: "btn btn-primary" %>

<% @projects.all.each do |p| %>
    <div class="container">

        <h2><%= link_to "#{p.name}", project_path(p) %></h2>

        <% tasks = p.tasks %>
            <%= render partial: 'tasks/lists', :locals => {:@tasks => tasks}%>

        
    </div>
<% end %>